<%
function layoutDiv() {
  var el = '';
  var item = [];
  if (page.references?.length > 0) {
    item.push('references');
  }
  if (theme.article.license?.length > 0) {
    item.push('license');
  }
  if (theme.article.share?.length > 0) {
    item.push('share');
  }
  if (item.length === 0) {
    return el;
  }
  el += `<div class="article-footer${scrollreveal(' ')} fs14">`
  if (page.references?.length > 0) {
    function refList() {
      var el = '';
      for (let ref of page.references) {
        el += `
        <li class="post-title">
          ${markdown(ref)}
        </li>
        `
      }
      return el;
    }
    el += `
    <section id="references">
      <div class="header"><span>${__('meta.references')}</span></div>
      <div class="body">
        <ul>${refList()}</ul>
      </div>
    </section>
    `
  }

  var license = ''
  if (page.wiki) {
    const proj = theme.wiki.tree[page.wiki]
    if (page.license != null) {
      license = page.license || theme.article.license
    } else if (proj?.license != null) {
      if (proj.license == true) {
        license = theme.article.license
      } else {
        license = proj.license
      }
    }
  } else if (page.layout == 'post') {
    if (theme.article.license && (page.license != false)) {
      license = page.license || theme.article.license
    }
  }
  if (license.length > 0) {
    var author = null
    if (theme.authors) {
      if (page.author?.length > 0 && theme.authors[page.author] != null) {
        author = theme.authors[page.author]
      } else {
        author = theme.default_author
      }
    }
    if (author) {
      license = license.replace('{author.name}', author.name).replace('{author.url}', author.url)
    }
    el += `
    <section id="license">
      <div class="header"><span>${__('meta.license')}</span></div>
      <div class="body">${markdown(license)}</div>
    </section>
    `
  }

  var showSharePlugin = false
  if (page.wiki) {
    const proj = theme.wiki.tree[page.wiki]
    if (page.share != null) {
      showSharePlugin = page.share == true
    } else if (proj != null) {
      showSharePlugin = proj.share == true
    }
  } else if (page.layout == 'post') {
    showSharePlugin = page.share != false
  }
  if (theme.article.share && showSharePlugin) {
    function socialButtons() {
      var el = ''
      theme.article.share.forEach((item, i) => {
        if (['wechat', 'weibo', 'email', 'link'].includes(item)) {
          el += '<a class="social share-item ' + item + '"';
          if (item == 'weibo') {
            el += ' target="_blank" rel="external nofollow noopener noreferrer"';
          }
          if (item == 'wechat') {
            el += ' onclick="util.toggle(&quot;qrcode-wechat&quot)"';
          } else if (item == 'weibo') {
            el += ' href="https://service.weibo.com/share/share.php?url=' + page.permalink;
            el += '&title=' + page.title + ' - ' + config.title;
            if (page.layout == 'post' && page.cover) {
              el += '&pics=' + page.cover;
            } else if (page.wiki && page.icon) {
              el += '&pics=' + page.icon;
            }
            el += '&summary=' + truncate(page.description || strip_html(page.excerpt || page.content), {length: 120});
            el += '"';
          } else if (item == 'email') {
            el += ' href="mailto:?subject=' + page.title + ' - ' + config.title + '&amp;'
            el += 'body=' + page.permalink + '"';
          } else if (item == 'link') {
            el += ' onclick="util.copy(&quot;copy-link&quot;, &quot;' + __('message.copied') + '&quot;)"';
          }
          el += '>';
          //el += icon(`share:${item}`)   ### icon函数输出的是一个<img>标签，我想为其新增自定义的style, 因此改写此行.
          el += icon(`share:${item}`).replace('>', ' ');
          el += 'style="width: 1.5em; height: 1.5em; display: inline-block; margin-right: 10px;"';
          el += '>';     
          el += '</a>';
        }
      });
      return el;
    }
    function qrcode() {
      if (theme.article.share.includes('wechat')) {
        return `
        <div class="qrcode" id="qrcode-wechat" style="opacity:0;height:0">
          <img src="https://api.qrserver.com/v1/create-qr-code/?size=256x256&data=${page.permalink}"/>
        </div>
        `
      } else {
        return ''
      }
    }
    license = '本文由[Raymond~](https://taddream.site/)创作, 基于[CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by/4.0/)协议, 转载请注明出处. 分享文章: ';
    if (page.author && theme.authors[page.author]) {
      license = license.replace('Raymond~', `${theme.authors[page.author].name}`).replace('https://taddream.site/', `${theme.authors[page.author].url}`);
    }
    el += `
    <section id="share">  
      ${markdown(license).replace('</p>', '')}
      <span class="link" style="display: inline;">
        <input class="copy-area" readonly="" id="copy-link" value="${page.permalink}" style="display: none;">
      </span>       
      ${socialButtons()}
      ${qrcode()}
      </p>
    </section>
    `
  }

  el += '</div>';
  return el;
}
%>
<%- layoutDiv(); %>
